{% extends "index.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Congratulations!<br/>It's Installed</h1>

        <p class="lead">You've now got the Joomla! Framework installed and you're ready to get started coding. If you have questions, be sure to check out the docs.</p>
        <a class="btn btn-large btn-success" href="http://joomla.github.io/joomla-framework/" target="_blank">Documentation</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Bootstrap</h4>
            <p>This install comes preloaded with the Twitter Bootstrap package pre-installed, symlinked and ready to use.</p>

            <h4>jQuery</h4>
            <p>This install comes preloaded with the latest jQuery packages pre-installed, symlinked and ready to use.</p>

            <h4>Twig</h4>
            <p>This install comes preloaded with Twig as the templating package pre-installed and ready to use.</p>
        </div>

        <div class="span6">
            <h4>Themes</h4>
            <p>This install has a sample theme called "Awesome". Yes, you're looking at it. Create your own theme and set as the default in config.json</p>

            <h4>Database</h4>
            <p>This install has a database setup included. (Be sure to checkout the config.json file)</p>

            <h4>Routing</h4>
            <p>This install uses a static routing file (routes.json) and also includes minor code to demo automatic routing.</p>
        </div>
    </div>
    <hr/>
    {% if success == false %}
        <div class="row-fluid well">
            <h4>You should setup your database now. </h4>
            <a href="#databaseModal" role="button" class="btn" data-toggle="modal">Enter DB Settings</a>
        </div>
        <!-- Modal -->
        <div id="databaseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="databaseModalLabel" aria-hidden="true">
            <form action='{{ base_url }}dashboard/updateDatabase' method='post'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="databaseModalLabel">Enter Database Details</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <label><strong>Database Driver</strong></label>
                            <input type="text" name="driver" value="{{ config.database.driver }}" placeholder="e.g. mysql"/>
                            <label><strong>Database Host</strong></label>
                            <input type="text" name="host" value="{{ config.database.host }}" placeholder="e.g. localhost"/>
                            <label><strong>Database Name</strong</label>
                            <input type="text" name="name" value="{{ config.database.name }}" placeholder="e.g. myapp"/>
                        </div>
                        <div class="span6">
                            <label><strong>Database Table Prefix</strong></label>
                            <input type="text" name="prefix" value="{{ config.database.prefix }}" placeholder="e.g. app_"/>
                            <label><strong>Database User</strong></label>
                            <input type="text" name="user" value="{{ config.database.user }}" placeholder="e.g. root"/>
                            <label><strong>Database Password</strong></label>
                            <input type="password" name="password" value="{{ config.database.password }}" placeholder="password"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="alert alert-info"><label><input type="checkbox" value="1" name="install_sample_data"/> Install Sample Data</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Update Database</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
